<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f14f521-1892-46e9-9508-6d13be535657" Alias="Image type checker" Level="2">
  <Info>
    <Name>Image type checker</Name>
    <EditorAlias>Digbyswift.Umbraco.ImageTypeChecker</EditorAlias>
    <EditorUIAlias>Digbyswift.Umbraco.ImageTypeChecker.Ui</EditorUIAlias>
    <Folder>Country+Pickers</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>